* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #131313;
}
/* Global style */

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Logo */
.logo__img {
  object-fit: cover;
  max-width: 160px;
  width: 100%;
}
/* nav bar */
.nav {
  padding-top: 10px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  padding-top: 20px;
}
.nav__item {
  margin-right: 10px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  padding: 40px 20px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.nav__link:hover {
  background-color: #131313;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .nav__link {
    padding: 30px 5px;
  }
  .nav__item {
    margin-right: 5px;
  }
}
@media screen and (max-width: 540px) {
  .nav__link {
    padding: 10px 5px;
  }
  .nav__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .nav__link {
    font-size: 13px;
  }
}
/* Hero section */
.hero {
  padding-top: 150px;
}
.hero__inner {
  display: flex;
}
.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 5px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
  margin-bottom: 60px;
}
.hero__text {
  max-width: 420px;
  width: 100%;
  line-height: 120%;
  margin-bottom: 20px;
}
.hero__btn {
  margin-top: 80px;
}
.primary__btn {
  padding: 30px 80px;
  background-color: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
  display: block;
}
