* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #131313;
}

/* Global style */

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Logo */
.logo__img {
  object-fit: cover;
  max-width: 160px;
  width: 100%;
}
/* nav bar */

.nav {
  padding-top: 10px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  padding-top: 20px;
}
.nav__item {
  margin-right: 10px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  padding: 40px 20px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.nav__link:hover {
  background-color: #131313;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .nav__link {
    padding: 30px 5px;
  }
  .nav__item {
    margin-right: 5px;
  }
}
@media screen and (max-width: 540px) {
  .nav__link {
    padding: 10px 5px;
  }
  .nav__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .nav__link {
    font-size: 13px;
  }
}

/* Hero section */
.hero {
  padding-top: 150px;
}
.hero__inner {
  display: flex;
}
.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 5px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
  margin-bottom: 60px;
}
.hero__text {
  max-width: 420px;
  width: 100%;
  line-height: 120%;
  margin-bottom: 20px;
}
.hero__btn {
  margin-top: 80px;
}
.primary__btn {
  padding: 30px 80px;
  background-color: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
  display: block;
}
.hero__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hero__showcase-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.hero__showcase-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: lowercase;
}
.hero__item:nth-child(3) {
  width: 180px;
  min-width: 160px;
}
.hero__img {
  max-width: 565px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  /* пишемо класи до яких потрібно примінити стилі */
  .hero__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__showcase {
    margin-bottom: 30px;
  }
  .hero__text {
    max-width: 565px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 55px;
  }
}
@media screen and (max-width: 540px) {
  .hero__title {
    font-size: 50px;
  }
  .hero__list {
    flex-wrap: wrap;
  }
  .hero__item {
    margin-bottom: 10px;
  }
  .hero__item:nth-child(3) {
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .hero__title {
    text-align: center;
    font-size: 30px;
  }
  .hero__list {
    justify-content: space-evenly;
    text-align: center;
  }
  .hero__subtitle {
    text-align: center;
    font-size: 20px;
  }
  .hero__text {
    text-align: center;
  }
  .hero__btn {
    padding: 20px 10px;
    letter-spacing: 0.6em;
  }
  .nav__link {
    font-size: 12px;
  }
}

/* Далі працюємо з секцією about */
.about {
  padding: 150px 0;
}
.about__inner {
  display: flex;
}
.about__item {
  margin-bottom: 50px;
}
.about__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.about__item-description {
  max-width: 450px;
  width: 100%;
  font-size: 14px;
  line-height: 120%;
}
.about__img {
  margin-right: 60px;
  max-width: 570px;
  width: 100%;
}
@media screen and (max-width: 1224px) {
  .about__img {
    max-width: 470px;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .about__inner {
    justify-content: center;
  }
  .about__img {
    display: none;
  }
  .about__item-description {
    max-width: 720px;
  }
}

/* Секція property */
.property {
  margin-bottom: 130px;
}
.property__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.property__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.property__head {
  background-color: #131313;
  color: #fff;
}
.property__head td {
  background-color: #131313;
}
.property__tr td {
  width: 285px;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-top: 10px;
}
.property__tr--td {
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .property__img {
    display: none;
  }
  .property__tr td {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .property__tr td {
    width: 475px;
  }
}
@media screen and (max-width: 540px) {
  .property__tr td {
    width: 230px;
  }
}

/* Visual section */
.visual__list {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 50px;
}
.visual__item {
  margin-right: 40px;
}
.visual__img {
  object-fit: contain;
}
@media screen and (max-width: 992px) {
  .visual__img {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .visual__img {
    width: 540px;
  }
}
@media screen and (max-width: 540px) {
  .visual__img {
    width: 320px;
  }
}
/* Contact section */
.contacts {
  margin-bottom: 100px;
}
.contacts__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contacts__inner {
  display: flex;
}
.contacts__form {
  margin-right: 70px;
}
.contacts__description {
  max-width: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.contacts__label {
  display: block;
  margin-bottom: 20px;
}
.form__input {
  display: block;
  border: none;
  border-bottom: 1px solid #131313;
  max-width: 420px;
  width: 100%;
  padding-bottom: 10px;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #6f6f6f;
  opacity: 0.5;
}

.contacts__color-label {
  position: relative;
}
.contacts__color-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}
.contacts__price {
  position: relative;
}
.contacts__price-item {
  position: absolute;
  left: -50px;
  top: 55px;
}
.contacts__price-cost {
  position: relative;
  font-size: 32px;
  line-height: 39px;
}
.contacts__price-cost::before,
.contacts__price-cost::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  background-image: url(./img/icons/ellipse2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__price-cost::before {
  top: -30px;
  left: -20px;
}
.contacts__price-cost::after {
  top: -40px;
  left: -20px;
}
.contacts__img {
  max-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 1224px) {
  .contacts__price-cost {
    font-size: 18px;
  }
  .contacts__price-cost::before,
  .contacts__price-cost::after {
    width: 130px;
    height: 59px;
  }
  .contacts__price-cost::before {
    top: -15px;
  }
  .contacts__price-cost::after {
    top: -25px;
  }
}
@media screen and (max-width: 992px) {
  .contacts__inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacts__price-item {
    left: 40px;
    top: 55px;
  }
  .contacts__form {
    margin-right: 0;
  }
  .contacts__description {
    max-width: 992px;
  }
  .form__input {
    max-width: 992px;
  }
  .contacts__btn {
    margin: 0 auto;
    padding: 30px 15px;
    font-size: 16px;
  }
  .contacts__form-inner{
   margin-bottom: 20px;
  }
}
